<html>
    <head>
        <style type="text/css">
        .contact-item
        {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 40px auto;
            margin: 0px;
        }
        </style>
    </head>
    <body>
        <div id="main" style="
            position: absolute;
            width: 400px; height: 600px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid red;">
            <div style="
                width: auto; text-align: center; font-size: 24px; margin: 5px;
                line-height: 42px;
                background: linear-gradient(90deg, #ff0, #0ff);">
                Contact
            </div>
            <div style="margin: 5px; text-align: center;">
                <div style="display: inline-block; height: 100%;">
                    <div class="contact-item">
                        <div></div>
                        <div style="line-height: 40px;">
                            https://linkedin.com/in/minujeong
                        </div>
                    </div>

                    <div class="contact-item">
                        <div></div>
                        <div>
                            https://github.com/minujeong
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>